#title {
    font-size: 4rem;
    text-shadow: 1px 1px #d2ffe9,
        2px 2px #d2ffe9,
        3px 3px #d2ffe9,
        4px 4px #b5b5b5,
        5px 5px #b5b5b5,
        6px 6px #b5b5b5,
        4px 4px 30px #b4ffda;
}
#subtitle {
    text-shadow: 1px 1px #d2ffe9,
        2px 2px #d2ffe9,
        3px 3px #b5b5b5,
        4px 4px #b5b5b5,
        4px 4px 30px #b4ffda;
}
